{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the Yashwanth Tumburu Blog! Here we'll be talking about everything computer science. Basics, framesworks, machine-learning, other date science stuff, begineer-level projects, and pretty much anything computer science related.</p>
            <p>Go visit at my website <a href="https://www.yashwanthtumburu.com">yashwanthtumburu.com</a> to check out more cool stuff beyond just blogs.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}